.header {
  clear: both;
  height: 2rem;
  background-color: #F5F7FA;
  padding: 0px 20px;
}

.header ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  float: right;
}

.header li {
  display: inline;
  list-style-type: square;
  padding-left: 10px;
  padding-right: 10px;
}

.header a {
  width: 91px;
  height: 17px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  /* identical to box height */
  color: #000000;
  text-decoration: none;
  letter-spacing: 0.05em;
}

.header li:hover,
.header li:active,
.header li.active {
    border: 1px solid black;
}

.vl {
  border-left: 1px solid black;
  height: 28x !important;
}